/*
  Built Mobile First: All Generic sizing and layouts are placed in main part of CSS. 
  All sizing and layout changes specific to screen sizes is down in media-query area.
  All color based things are seperate to allow for tweaking later out.
*/

/**********************************
GENERAL
***********************************/


/**********************************
NAVIGATION 
***********************************/



/**********************************
HEADER
***********************************/


/**********************************
MAIN CONTENT
***********************************/


/**********************************
FOOTER - Layout and Sizing
***********************************/


/**********************************
PAGE: _______
***********************************/



/**********************************
FONTS
***********************************/
.portrait_name{
    font-family: 'Audiowide', cursive;
}


/**********************************
COLORS and BACKGROUNDS
Blue:263248
orange:FF9800
blue 2:7E8AA2
Color 1:
Color 1:
***********************************/
html {
  background-color:white;
  font: "Audiowide", cursive;
  margin: 0 auto 0 auto;
  
}  
h2{
  font: 18px 'Audiowide', cursive;
  color: black;
}

article{
  font: 18px 'Audiowide', cursive;
  color: black;
  background-color:white;
  width:90%;
  margin:0 auto;
  padding:10px;
  border-radius:10px;
  margin-bottom:10px;
}

.thumbnail_space{
    max-width:90%;
    margin:0 auto;
    color: black;
}

.thumbnail_image{
  max-height:200px;
  max-width:242px;
}

p {
  margin: 14px 0px 10px 0px;
  text-align: justify;
  color:black;
}

footer,
header {
  background: none;
  text-align: left;
  margin: 0px -10px 0px -10px;
}

body {
  margin: 10px 10px 10px 10px;
  Background-color:#263248;
}
