/**********************************
COLORS and BACKGROUNDS
Blue:263248
orange:FF9800
blue 2:7E8AA2
***********************************/
html {
	min-height:100%;
  font-family: 'Cabin', sans-serif;
  margin: 0 auto 0 auto;
}  
h1,small {
   color: white;
   font-family: 'Cabin', sans-serif;
}
h2 {
  font-family: 'Cabin', sans-serif;
}
h3{
   color:#8F8F8F;
   font-family: 'Cabin', sans-serif;
}

article {
  width:100%;
  margin:0 auto;
  border-radius:10px;
  margin-bottom:10px;
  font-family: 'Cabin', sans-serif;
}
a {
    color:#263248;
}
section {
  margin: 10px 10px 10px 10px;
  Background-color:white;
  min-height:100%;
  min-width:100%;
  text-align: center;
}
li {
  color: black;
}
.thumbnail_space{
    max-width:90%;
    margin:0 auto;
    color: black;
}
.thumbnail_image{
  max-height:200px;
  max-width:242px;
}
p {
  margin: 14px 0px 10px 0px;
  text-align: center;
  color:white;
  font-family: 'Cabin', sans-serif;
  font-size:20px;
}
footer {
  color:white;
  height:100px;
  text-align:center;
  padding:20px;
}
body {
  margin: 0px 0px 4px 0px;
  Background-color:#263248;
  min-height:100%;
  min-width:100%;
}
ul {
  Background-color:white;
  }
content
{
Background-color:#263248;
}
